# Enable the RewriteEngine
RewriteEngine On

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Optionally add caching for static assets
<FilesMatch "\.(ico|jpg|jpeg|png|gif|svg|js|css)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Handle custom error pages
ErrorDocument 404 /index.html
